ion-title{
  text-align: center;
  size: 50px;
}

.card-hover {
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05); 
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
}

.extra-info {
  display: none; 
}

.card-hover:hover .extra-info {
  display: block; 
}

.admin-buttons {
  text-align: center;
  margin-top: 20px;
}

.card-hover:hover .card-buttons {
  opacity: 1;
  display: flex;
}

.top-buttons {
  display: flex;
  gap: 10px; 
  flex-wrap: wrap; 
  justify-content: center;
  margin: 20px 0;

  ion-button {
    flex: 1 1 200px; 
    max-width: 250px;
  }
}

.card-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;

  ion-button {
    flex: 1 1 100px;
    max-width: 120px;
  }
}

ion-select{
  margin-left: 20px;
  width: 280px;
}
