
ion-title{
  text-align: center;
}

.card-hover {
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05); 
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
}

.extra-info {
  display: none; 
}

.card-hover:hover .extra-info {
  display: block; 
}

.admin-buttons{
  text-align: center;
  margin-top: 20px;
}