<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Desarrolladoras</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [debounce]="1000" (ionInput)="realizarBusqueda($event)" placeholder="Buscar..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-text *ngIf="desarrolladorasFiltradas.length === 0">
    <h3>No se encontraron desarrolladoras</h3>
  </ion-text>

  <ion-grid *ngIf="desarrolladorasFiltradas.length > 0">
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let desarrolladora of desarrolladorasFiltradas; let i = index">
        <ion-card class="card-hover" (click)="verJuegosDesarrolladoras('desarrolladoras', desarrolladora.nombre)">
          <div class="image-container">
            <img [src]="desarrolladora.imagen" alt="Imagen de {{ desarrolladora.nombre }}">
            <div class="card-title-overlay">
              <h3>{{ desarrolladora.nombre }}</h3>
            </div>
          </div>
          <ion-card-content>
            <div>
              <p><strong>Cantidad de juegos:</strong> {{ desarrolladora.cantidad_juegos }} </p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="cargarMasDesarrolladoras($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más juegos..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
