<ion-header>
  <ion-toolbar>
    <ion-title>Resetear Datos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>

    <!-- Mensaje si no hay juegos modificados o añadidos por admins -->
    <ion-text *ngIf="juegos.length === 0">
      <h3>No se encontraron juegos modificados o insertados por administradores</h3>
    </ion-text>

    <!-- Lista de juegos encontrados -->
    <div *ngIf="juegos.length > 0">
      <h3>Juegos modificados o insertados por administradores</h3>
      <ion-list>
        <ion-item *ngFor="let juego of juegos">
          {{ juego.nombre }}
        </ion-item>
      </ion-list>
    </div>
  </div>

  <!-- Botón visible solo si hay juegos -->
  <ion-footer *ngIf="juegos.length > 0">
    <ion-button expand="full" color="primary" (click)="confirmarAccion()">Confirmar Reseteo de datos</ion-button>
  </ion-footer>
</ion-content>