ion-title{
    text-align: center;
    margin-left: 70px;
}

ion-item {
    ion-label[position="stacked"] {
      margin-bottom: 15px; 
    }
  }

  ion-input,
  ion-textarea {
    --padding-start: 12px;
    --padding-end: 12px;
    --padding-top: 8px;
    --padding-bottom: 8px;
  }