<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>IONIC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>{{ juego.nombre }}</h1>
    <div class="content-grid">
      <div class="image-section">
        <img [src]="juego.imagen" alt="Imagen de {{ juego.nombre }}">
        
        <div class="additional-info">
          <p><strong>Nota en Metacritic:</strong> {{ juego.nota_metacritic }}</p>
          <p><strong>Fecha de lanzamiento:</strong> {{ formatearFecha(juego.fecha_lanzamiento) }}</p>
          <p><strong>Sitio Web: </strong> <a [href]="juego.sitio_web" target="_blank">{{ juego.sitio_web }}</a></p>
          <p><strong>Tiendas:</strong> {{ getTiendas(juego.tiendas) }}</p>
        </div>
      </div>
      
      <div class="description-section">
        <h2>Descripción</h2>
        <p [innerHTML]="juego.descripcion"></p>
        
        <div class="details">
          <p><strong>Plataformas:</strong> {{ getPlataformas(juego.plataformas_principales) }}</p>
          <p><strong>Generos:</strong> {{ getGeneros(juego.generos) }}</p>
          <p><strong>Desarrolladoras:</strong> {{ getDesarrolladoras(juego.desarrolladoras) }}</p>
          <p><strong>Publishers:</strong> {{ getPublishers(juego.publishers) }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>