<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Publishers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-text *ngIf="publishers.length === 0">
    <h3>No se encontraron publishers</h3>
  </ion-text>

  <ion-grid *ngIf="publishers.length > 0">
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let publisher of publishers; let i = index">
        <ion-card (click)="verJuegosPublisher(publisher.id)">
          <div class="image-container">
            <img [src]="publisher.imagen" alt="Imagen de {{ publisher.nombre }}">
            <div class="card-title-overlay">
              <h3>{{ publisher.nombre }}</h3>
            </div>
          </div>
          <ion-card-content>
            <div>
              <p><strong>Cantidad de juegos:</strong> {{ publisher.cantidad_juegos }} </p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
