<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tiendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo-logo">

  <!-- Texto mostrado si no hay tiendas disponibles -->
  <ion-text *ngIf="tiendas.length === 0">
    <h3>No se encontraron tiendas</h3>
  </ion-text>

  <!-- Se genera una tarjeta por cada tienda -->
  <ion-grid *ngIf="tiendas.length > 0">
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let tienda of tiendas; let i = index">
        <ion-card class="card-hover" (click)="verJuegosTienda('tiendas', tienda.nombre)">
          <div class="image-container">
            <img [src]="tienda.imagen" alt="Imagen de {{ tienda.nombre }}">
            <div class="card-title-overlay">
              <h3>{{ tienda.nombre }}</h3>
            </div>
          </div>
          <ion-card-content>
            <div>
              <p><strong>Dominio: </strong> <a [href]="getUrlCompleta(tienda.dominio)" target="_blank">{{ tienda.dominio
                  }}</a></p>
              <p><strong>Cantidad de juegos:</strong> {{ tienda.cantidad_juegos }} </p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>