<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Juegos de {{ nombre }}</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [debounce]="500" (ionInput)="realizarBusqueda($event)" placeholder="Buscar juegos..."></ion-searchbar>
  </ion-toolbar>

  <ion-toolbar>
    <ion-select interface="popover" [(ngModel)]="ordenActual" (ionChange)="aplicarOrden($event.detail.value)" [placeholder]="'Filtro: ' + obtenerTextoOrdenActual()">
      <ion-select-option *ngIf="ordenActual !== 'nombre_asc'" value="nombre_asc">Nombre (A-Z)</ion-select-option>
      <ion-select-option *ngIf="ordenActual !== 'nombre_desc'" value="nombre_desc">Nombre (Z-A)</ion-select-option>
      <ion-select-option *ngIf="ordenActual !== 'fecha_asc'" value="fecha_asc">Fecha (Antiguos primero)</ion-select-option>
      <ion-select-option *ngIf="ordenActual !== 'fecha_desc'" value="fecha_desc">Fecha (Recientes primero)</ion-select-option>
      <ion-select-option *ngIf="ordenActual !== 'nota_asc'" value="nota_asc">Nota (Menor a mayor)</ion-select-option>
      <ion-select-option *ngIf="ordenActual !== 'nota_desc'" value="nota_desc">Nota (Mayor a menor)</ion-select-option>
    </ion-select>
  </ion-toolbar>

</ion-header>

<ion-content class="fondo-logo">
  <ion-text *ngIf="juegosFiltrados.length === 0">
    <h3>No se encontraron juegos</h3>
  </ion-text>

  <ion-grid *ngIf="juegosFiltrados.length > 0">
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let juego of juegosFiltrados; let i = index">
        <ion-card class="card-hover" (click)="verJuego(juego.id)">
          <img [src]="juego.imagen" alt="Imagen de {{ juego.nombre }}">
          <ion-card-header>
            <ion-card-title>{{ juego.nombre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="extra-info">
              <p><strong>Nota en Metacritic:</strong> {{ juego.nota_metacritic }}</p>
              <p><strong>Fecha de lanzamiento:</strong> {{ formatearFecha(juego.fecha_lanzamiento) }}</p>
              <p><strong>Plataformas:</strong> {{ getPlataformas(juego.plataformas_principales) }}</p>
              <p><strong>Géneros:</strong> {{ getGeneros(juego.generos) }}</p>
            </div>

            <div *ngIf="sesion.comprobarSesion()" class="admin-buttons card-buttons">
              <ion-button expand="block" color="tertiary" (click)="$event.stopPropagation(); editarJuego(juego.id)"><strong>Editar</strong></ion-button>
              <ion-button expand="block" color="danger" (click)="$event.stopPropagation(); eliminarJuego(juego.id)"><strong>Eliminar</strong></ion-button>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll 
  *ngIf="juegosFiltrados.length > 0 && juegosCargados < (textoBusqueda.trim() !== '' ? juegosBuscados.length : juegos.length)" 
  (ionInfinite)="cargarMasJuegos($event)" 
  threshold="100px" 
  [disabled]="false">

    <ion-infinite-scroll-content 
      loadingSpinner="bubbles" 
      loadingText="Cargando más juegos..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
