/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@import "@ionic/angular/css/palettes/dark.class.css";
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

/* MIS CSS */

ion-header ion-toolbar:first-of-type {
  margin-top: 15px;
}

ion-title {
  position: relative;
  text-align: center;
  font-size: clamp(18px, 5vw, 28px);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 10px 0;
  overflow: hidden;
  text-shadow: 1px 1px 2px var(--ion-color-medium);
  color: var(--ion-text-color);

  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
  word-break: break-word;
  line-height: 1.2;
}

ion-title::before,
ion-title::after {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  width: 40%;
  background-color: var(--ion-color-medium);
  opacity: 0.8;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: center;
  animation: lineExpand 0.5s ease-out forwards;
}

ion-title::before {
  top: 0;
  left: 30%;
  animation-delay: 0.3s;
}

ion-title::after {
  bottom: 0;
  left: 30%;
  animation-delay: 0.3s;
}

@keyframes lineExpand {
  to {
    transform: scaleX(1);
  }
}

/* Tema Claro*/
.modo-claro {
  --ion-background-color: #FFFEFA;
  --ion-text-color: #C4801F;

  /* Colores principales */
  --ion-color-primary: #D8A22E;
  --ion-color-secondary: #EFBD52;
  --ion-color-tertiary: #E9C962;

  /* Colores utilitarios */
  --ion-color-success: #E9C962;
  --ion-color-warning: #EDD784;
  --ion-color-danger: #C4801F;
  --ion-color-light: #FFFEFA;
  --ion-color-medium: #EFBD52;
  --ion-color-dark: #090601;

  ion-header,
  ion-toolbar {
    --border-width: 0;
    box-shadow: none;
  }

  #login {
    color: var(--ion-color-danger);
    background-color: var(--ion-color-warning);
    border-radius: 5px;
    font-weight: bold;
  }

  #logout {
    color: var(--ion-color-danger);
    background-color: var(--ion-color-warning);
    border-radius: 5px;
    font-weight: bold;
  }

  ion-content.fondo-logo {
    --background: url('assets/icon/logo-claro.png') no-repeat center/contain fixed;
  }

  .card-hover ion-card-header ion-card-title {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }

  .card-title-overlay h3 {
    color: var(--ion-color-light);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-weight: bold;
  }

  ion-card {
    border: 2px solid var(--ion-color-danger);
    box-shadow: 0 0 10px var(--ion-color-danger), 0 0 20px var(--ion-color-danger);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
  }

  ion-searchbar {
    color: var(--ion-text-color);
  }

  ion-card-title {
    color: var(--ion-color-primary);
  }

  p {
    color: var(--ion-color-primary);
  }

  .extra-info p {
    color: var(--ion-color-primary);
  }

  form ion-input,
  ion-textarea {
    border: 1px solid var(--ion-color-danger);
    border-radius: 6px;
    margin-bottom: 12px;

  }

  ion-toast.custom-toast {
    color: var(--ion-text-color);
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
  }

  .custom-alert .alert-message {
    color: var(--ion-text-color);
  }

  .custom-alert .alert-header {
    font-weight: bold;
  }

  ion-chip {
    --color: var(--ion-text-color);
    --background: var(--ion-color-warning);
    pointer-events: none;
    cursor: default !important; 
  }

}

/* Tema Oscuro */
.modo-oscuro {
  --ion-background-color: #090601;
  --ion-text-color: #F7E892;

  /* Colores principales */
  --ion-color-primary: #A27F27;
  --ion-color-secondary: #CFA94A;
  --ion-color-tertiary: #E5C55B;

  /* Colores utilitarios */
  --ion-color-success: #634C0F;
  --ion-color-warning: #E5C55B;
  --ion-color-danger: #3B2D07;
  --ion-color-light: #F7E892;
  --ion-color-medium: #A27F27;
  --ion-color-dark: #3B2D07;

  ion-card-title,
  ion-card-content {
    color: var(--ion-color-medium);
  }

  .additional-info p strong {
    color: var(--ion-color-success);
  }

  .additional-info p {
    color: var(--ion-color-medium);
  }

  .details p strong {
    color: var(--ion-color-success);
  }

  .details p span {
    color: var(--ion-color-medium);
  }

  ion-searchbar {
    color: var(--ion-color-light);
  }

  ion-card {
    border: 2px solid var(--ion-color-light);
    box-shadow: 0 0 10px var(--ion-color-light), 0 0 20px var(--ion-color-light);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
  }

  #login {
    color: var(--ion-color-success);
    background-color: var(--ion-color-light);
    border-radius: 5px;
    font-weight: bold;
  }

  #logout {
    color: var(--ion-color-success);
    background-color: var(--ion-color-light);
    border-radius: 5px;
    font-weight: bold;
  }

  ion-content.fondo-logo {
    --background: url('assets/icon/logo.png') no-repeat center/contain fixed;
  }

  .card-title-overlay h3 {
    color: #FFFEFA;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-weight: bold;
  }

  .card-hover ion-card-header ion-card-title {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }

  form ion-input,
  ion-textarea {
    border: 1px solid var(--ion-color-light);
    border-radius: 6px;
    margin-bottom: 12px;
  }

  ion-toast.custom-toast {
    color: var(--ion-text-color);
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
  }

  .custom-alert .alert-message {
    color: var(--ion-text-color);
  }

  .custom-alert .alert-title {
    font-weight: bold !important;
    text-align: center;
  }

  ion-chip {
    --color: var(--ion-color-primary);
    --background: var(--ion-color-light);
    pointer-events: none;
    cursor: default !important; 
  }

}