/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@import "@ionic/angular/css/palettes/dark.class.css"; 
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

/* MIS CSS */

/* Tema Claro*/
.modo-claro {

  --ion-background-color: #FFFEFA;
  --ion-text-color: #3B2D07;

  /* Colores principales */
  --ion-color-primary: #D8A22E;
  --ion-color-secondary: #EFBD52;
  --ion-color-tertiary: #FDEDB4;

  /* Colores utilitarios */
  --ion-color-success: #E9C962;
  --ion-color-warning: #EDD784;
  --ion-color-danger: #C4801F;
  --ion-color-light: #FFFEFA;
  --ion-color-medium: #EFBD52;
  --ion-color-dark: #3B2D07;


    ion-header, ion-toolbar {
        --border-width: 0;
        box-shadow: none;
    }
    
    #login{
        color: greenyellow;
      }
    
      #logout{
        color: red;
    }

    ion-button{
        font-weight: bold;
    }
      
    ion-content.fondo-logo{
        --background: url('assets/icon/logo.png') no-repeat center/contain fixed;    
    }
    
  }
  
  
/* Tema Oscuro */
.modo-oscuro {

    --ion-background-color: #090601;
    --ion-text-color: #F7E892;
  
    /* Colores principales */
    --ion-color-primary: #A27F27;
    --ion-color-secondary: #CFA94A;
    --ion-color-tertiary: #E5C55B;

    /* Colores utilitarios */
    --ion-color-success: #634C0F;
    --ion-color-warning: #E5C55B;
    --ion-color-danger: #3B2D07;
    --ion-color-light: #F7E892;
    --ion-color-medium: #A27F27;
    --ion-color-dark: #3B2D07;

    ion-card-title,
    ion-card-content {
      color: #A27F27;
    }

    .additional-info p strong {
        color: #634C0F;
    }

    .additional-info p {
        color: #A27F27;
    }

    .details p strong{
        color: #634C0F;
    }

    .details p span {
        color: #A27F27;
    }

    ion-searchbar{
        color: #F7E892;
    }

    ion-card {
        border: 2px solid #F7E892;
        box-shadow: 0 0 10px #F7E892, 0 0 20px #F7E892;
        border-radius: 10px;
        transition: box-shadow 0.3s ease;
    }
    
    #login{
        color: greenyellow;
      }
    
      #logout{
        color: red;
    }
    
    ion-content.fondo-logo{
        --background: url('assets/icon/logo.png') no-repeat center/contain fixed;    
    }

    
      

      
      
      
      

    }
  